/* Colours */
@define-color celestial-blue #4595C3;
@define-color air-superiority-blue #67A0C1;
@define-color slate-gray #69787B;
@define-color ebony #60685E;
@define-color eerie-black #181E14;
@define-color battleship-gray #8F9291;
@define-color lapis-lazuli #235A7B;
@define-color timberwolf #D6D0D0;
@define-color field-drab #655925;

@define-color drab-black #474935;

@define-color gruvbox-blue #458588;
@define-color gruvbox-magenta #b16286;

@define-color base /*baire*/ #0B0B05; 


/* Window */
window {
  margin: 0px;
  padding: 5px;
  border: 2px solid @ebony;
  background-color: @base;
}

/* Inner Box */
#inner-box {
  margin: 5px;
  padding: 5px;
  border: none;
  background-color: @base;
}

/* Outer Box */
#outer-box {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: @base;
}

/* Scroll */
#scroll {
  margin: 0px;
  padding: 10px;
  border: none;
  background-color: @base;
}

/* Input */
#input {
  margin: 5px 20px;
  padding: 10px;
  border: none;
  border-radius: 0.1em;
  color: @text;
  background-color: @base;
}

#input image {
    border: none;
    color: @red;
}

#input * {
  outline: 4px solid @gruvbox-blue!important;
}

/* Text */
#text {
  margin: 5px;
  border: none;
  color: @text;
}

#entry {
  background-color: @base;
}

#entry arrow {
  border: none;
  color: @lavender;
}

/* Selected Entry */
#entry:selected {
  border: 0.11em solid @gruvbox-magenta;
}

#entry:selected #text {
  color: @gruvbox-magenta;
}

#entry:drop(active) {
  background-color: @gruvbox-magenta!important;
}
