@define-color cellcolor #fdf6e3; @bg0
@define-color cellshadow #bdc3af; @bg5
@define-color textcolor #4f5159; @test1
@define-color windowshadow #2e3538;

@define-color blue #3a94c5;
@define-color blueshadow #29668a;
@define-color green #8da101;
@define-color greenshadow #465000;
@define-color red #f85552;
@define-color redshadow #951c1f







/* margin: top right bottom left */
/* Spacing outside the element */

/* padding: top right bottom left */
/* Spacing inside the element */

* {
  font-family: JetBrainsMono Nerd Font, FontAwesome;
  font-size: 16px;
  font-weight: bold;
}

window#waybar {
  background-color: @textcolor;
  color: @cellcolor;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-radius: 0px 0px 15px 15px;
  transition-duration: .5s;

  border-bottom-width: 2px;
  border-bottom-color: @windowshadow;
  border-bottom-style: solid;
}

#custom-launcher {
  background-color: @green;
  color: @cellcolor;

  padding-left: 21px;
  padding-right: 21px;

  margin-left: 10px;
  margin-top: 7px:
  margin-bottom: 7px;

  border-radius: 10px;
  border-bottom-width: 2px;
  border-bottom-color: @greenshadow;
  border-bottom-style: solid;
}

#clock,
#clock-date,
#workspaces,
#pulseaudio,
#network,
#bluetooth,
#custom-power
{
  background-color: @cellcolor;
  color: @textcolor;
  
  padding-left: 10px;
  padding-right: 10px;

  margin-top: 7px:
  margin-bottom: 7px;

  border-radius: 10px;
  border-bottom-width: 2px;
  border-bottom-color: @cellshadow;
  border-bottom-style: solid;
}

#workspaces {
  padding: 0px;
}

#workspaces button.active {
  background-color : @blue;
  color: @textcolor;

  /*align active workspace tile with workspace panel */
  margin-bottom: -2px;

  border-radius: 7px;
  border-bottom-width: 4px;
  border-bottom-color: @blueshadow;
  border-bottom-style: solid;
}

#custom-power {
  background-color: @red;
  color: @cellcolor;

  border-bottom-color: @redshadow;

  margin-right: 10px;
  padding-left: 20px;
  padding-right: 23px;
}
